body {
    background-color: rgb(60, 69, 71)!important;
    color: white!important;
}
/* Navigation bar */
.navbar {
	background: #000000;
}

.nav-link,
.navbar-brand {
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.nav-link {
	margin-right: 1em;
}

.nav-link:hover {
	color: rgb(241, 70, 70);
}

.navbar-collapse {
	justify-content: flex-end;
}

/* HEADER */
.header {
	background-image: url('../images/HappyHeader.jpg');
	background-size: cover;
	background-position: bottom;
	position: relative;
    max-height: 1000px;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.329);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #ffffff;
}

.description h2 {
	color: rgb(182, 182, 182)
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
/* Footer */
footer {
	text-align: center;
	padding: 15px;
	color:black;
	background-color: rgb(255, 255, 255);
}
  
footer img {	
	width:70px
}
/*Matrix*/
.matrix {
	margin:0;
	padding:0;
}
canvas {
	display:block;
	max-height: 500px;
	width: 100%;
	border: 10px solid white;
}

.hide, .show {
	border-radius: 10px;
}

.hide:hover, .show:hover {
	border-bottom: 3px solid rgb(179, 179, 179);
	border-right: 3px solid rgb(179, 179, 179);
	cursor: pointer;
}

.buttons {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.switch {
	text-align: center;
	border: 1px solid red;
	padding: 15px 15px 0px 15px;
	background-color: white;
	color: black!important;
	width:fit-content;
	margin: 50px auto;
}

.input {
	text-align: center;
	border: 1px solid red;
	padding: 15px 15px 0px 15px;
	background-color: white;
	color: black!important;
	width:fit-content;
	margin: 50px auto;
}

#demo3 {
	color:blue;
	font-family: monospace!important;
}